.form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 2em auto;
    input[type=text],
    textarea {
        -webkit-appearance: textfield;
        -moz-appearance: textfield;
        appearance: textfield;
    }
    input {
        margin: 1em 0;
        padding: 10px;
    }
    textarea {
        margin: 1em 0;
        resize: vertical;
    }
    a {
        display: inline-block;
        padding: 15px;
        border: 1px solid #333;
        width: 30%;
        margin: 0 auto;
        text-align: center;
        cursor: pointer;
    }
}